*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    }
.container {
    width:80%;
    margin: auto;
}
body {
    font-family: 'varela Round', sans-serif;
}
.clear {
    clear: both;
}
h1 ,h2 ,h3 ,h4 ,h5 ,h6 {
    font-family: "Satisfy";
}

button {
    font-family: inherit;
}
.header {
    background-color: #000;
        z-index: 999;
        position: fixed;
        width: 100%;
}

.header.content {
    overflow: hidden;
}

.header .logo {
    width: 40%;
    float: left;
    font-size: 1.5em;
}

.header .logo img {
    width: 28%;
    margin-top: 5px;
}

.header .nav {
    width: 60%;
    list-style: none;
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: right;
    align-items: center;
    position: relative;
    text-align: left;
}

.header .nav li {
display:inline-block;
text-align: right;
}

.header .nav li a {
    color: rgba(11, 47, 252, 0.699);
    font-size: 1.1em;
    text-decoration: none;
    display: block;
    padding: 30px 30px;
    font-weight: 500;
    padding-left: 30px;
}

.header .nav li a.active:after,
.header .nav li a:after {
content: "";
display: block;
height: 1.5px;
background-color:#6195ff;
transition: 0.5s ease;
}

.header .nav li a.active:after{
    width: 100%;
}

.header .nav li a:after {
width: 0;
}

.header .nav li a:hover:after{
    width: 100%;
}

.home {
height: 100vh;
background-image: url(../imged/pexels-photo-2177482.jpeg);
position: relative;
background-size: cover;
background-attachment:fixed ;
}

.home-content {
    position: absolute;
    width: 60%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

    .overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: rgba(0,0,0,0.7);
    }

    .hover-opacity {
        transition: ease 0.7s;
    }

    .hover-opacity:hover {
        transform: scale(1.1);
    }

.home .title {
    text-transform: uppercase;
    font-size: 2.5em;
    color: rgb(247, 243, 243);
    font-weight: 500;
}

.home .home-desc {
    margin: 15px 0 ;
    color:rgb(248, 241, 241) ;
    letter-spacing: 2.5px ;
    
    line-height: 1.5;
    font-weight: 600;
}

.home .btn {
    min-width: 140px ;
    padding: 10px 0 ;
    border-radius: 15px ;
    border: 0 ;
    cursor: pointer;
    font-size: 1.2em;
    text-decoration: none;
    transition: 0.7s ease;
}

.home .btn-start {
margin-right: 10px;
    background-color: rgb(252, 246, 246);
    text-transform:capitalize;
}

.home .btn-learn {
    background-color: #6195ff ;
    color:#fff;
    text-transform:capitalize;
}

.title {
    display: flex;
    justify-content: center;
    color: #1d66f8;
    font-size:2.1em;
    font-weight: 800;
    margin-top: 30px;
    text-transform:capitalize;
}
.content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.card {
    background-color:#fff;
    width: 21.26em;
    box-shadow: 0 5px 25px rgb(1 1 1 / 15%);
    border-radius: 30px;
    padding: 25px;
    margin: 20px;
    text-transform:capitalize;
    transition: 0.7s ease;
}

.card:hover {
    transition: scale(1.1);
}

.icon {
    color: #1d66f8;
    font-size: 9em;
    text-align: center;
}

.info {
    text-align: center;
}

.info h3 {
    color: #1d66f8;
    font-size: 1.7em;
    font-weight: 700;
    margin: 10px;
}
.library{
    background-color: #000016;
}
.library .content{
    margin-top: 30px; 
}
.library-card {
    background-color: #fff;
    border: 1px solid #fff;
    min-height: 14em;
    width: 23em;
    overflow: hidden;
    border-radius: 10px;
    margin: 20px;
    transition: 0.7s ease;
}

.library-card:hover{
    transform: scale(1.1);
}

.library-card:hover .library-image{
    opacity: 0.9;
}

.library-image img{
width: 100%;
}

.library-info{
    padding: 1em;
}

.library-category{
    font-size: 0.8em;
    color: #000;
}

.library-title{
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 800;
    margin-top: 10px; ;
}

.more-details{
    text-decoration: none;
    color: #1d66f8;
}

.more-details:hover{
    color: blueviolet;
}